$name-font-size: min(100px, 15vw, 30vh);
$name-shadow-displacement-a: min(5px, 0.75vw, 1.5vh);
$name-shadow-displacement-a-negative: max(-5px, -0.75vw, -1.5vh);
$name-shadow-displacement-b: min(8px, 1.2vw, 2.4vh);
$name-shadow-back-a: min(30px, 4.5vw, 9vh);
$name-shadow-back-b: min(40px, 6vw, 12vh);
$title-font-size: min(20px, 5vw, 8vh);

@keyframes title-name-reveal {
    from {
        color: var(--background-color);
        text-shadow: none;
    }
    to {
        color: var(--title-text-color);
        text-shadow: $name-shadow-displacement-a 
            $name-shadow-displacement-a 
            $name-shadow-displacement-b 
            var(--title-shadow-dark),
            $name-shadow-displacement-a-negative 
            $name-shadow-displacement-a-negative 
            $name-shadow-displacement-b 
            var(--title-shadow-light),
            0 0 $name-shadow-back-a var(--title-shadow-back-a),
            0 0 $name-shadow-back-b var(--title-shadow-back-b);
    }
}


@keyframes title-show-char {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes title-show-cursor {
    0% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes title-cursor-flash {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
}

.home{
    height: max(calc(100vh + 50vw),calc(100vh + 250px));
    position: relative;

    & > div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width:100%;

        @media (hover:none) and (orientation:landscape){
            height: var(--landscape-height);
        }
        @media (hover:none) and (orientation:portrait){
            height: var(--portrait-height);
        }
    }

    & > svg {
        position:absolute;
        bottom:0px;
    }

    h1, p {
        margin:0px;
        text-transform: uppercase;
    }

    h1 {
        color:var(--title-text-color);
        font-weight: 900;
        font-size: $name-font-size;
        transition: color $mode-transition-time, text-shadow $mode-transition-time;
        text-shadow: $name-shadow-displacement-a 
            $name-shadow-displacement-a 
            $name-shadow-displacement-b 
            var(--title-shadow-dark),
            $name-shadow-displacement-a-negative 
            $name-shadow-displacement-a-negative 
            $name-shadow-displacement-b 
            var(--title-shadow-light),
            0 0 $name-shadow-back-a var(--title-shadow-back-a),
            0 0 $name-shadow-back-b var(--title-shadow-back-b);
        animation: title-name-reveal 1.5s;
    }
    p {
        font-weight: 300;
        color: var(--text-color) !important;
        font-size: $title-font-size;
        margin: 0 5vw;
        transition: color $mode-transition-time;

        span {
            margin: 0 0.1rem;
            opacity: 0;
            animation: title-show-char;
            animation-duration: 10ms;
            animation-fill-mode: forwards;
        }
        hr{
            display: inline;
            opacity: 0;
            border-color: var(--title-cursor-border-color);
            transition: border-color $mode-transition-time;
            &:not(:last-child){
                animation: title-show-cursor 0.15s forwards;
            }
            &:last-child {
                animation: title-cursor-flash 1s infinite;
            }
            &.space + span::before{
                content:'\A';
                white-space: pre;
            }
        }
        @media screen and (max-width:343px){
            .space {
                display:none;
            }
        }
        @media screen and (min-width:344px){
            .space + span::before{
                display: none;
            }
        }
    }
}