body {
    margin: 0;
    overscroll-behavior: none;
    background-color: #000;
    color:#fff;
}

a {
    color:#fff;
}

$mode-transition-time: 0.5s;

$background-color:#eee;
$background-color-dark:#333;

$text-color:#555;
$text-color-dark:#aaa;

$text-color-pale:#777;
$text-color-pale-dark:#777;


#main-page {
    background-color: $background-color;
    color: $text-color;
    letter-spacing: 0.03rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    transition: background-color $mode-transition-time, color $mode-transition-time;

    a {
        color: $text-color;
        font-weight: 400;
        text-decoration: none;
        transition: color $mode-transition-time;
    
        &:hover {
            text-decoration: underline;
        }
    }
}

.dark #main-page {
    background-color: $background-color-dark;
    color: $text-color-dark;
    a{
        color: $text-color-dark;
    }
}

@keyframes reveal-desktop-nav {
    from { transform: translateY(-55px); }
    to { transform: none; }
}

#desktop-nav {
    width:100%;
    height:45px;
    background-color:$background-color;
    box-shadow:0 5px 5px #ddd, inset 0 -3px 3px #ddd;
    position:fixed;
    top:0px;
    z-index:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: reveal-desktop-nav 1.5s;

    transition: 
        background-color $mode-transition-time, 
        box-shadow $mode-transition-time,
        transform $mode-transition-time;

    &.hide {
        transform: translateY(-55px);
    }
    
    button {
        border: none;
        background-color: transparent;
        cursor:pointer;
        padding:0;
    }

    button:not(.theme-button){
        padding: 0 20px;
        text-transform: uppercase;
        color:$text-color-pale;
        font-size: 12px;

        &:hover{
            color:#222;
        }
    }

    .underline {
        height:1.5px;
        background-color:$text-color-pale;
        position:absolute;
        top:30px;
        left:0px;
        right:0px;
    }

    .theme-button, .github-button{
        position: absolute;
    }

    .theme-button{
        right:5px;
        margin:2px;
    }
    .github-button{
        right:50px;
    }
}

.dark #desktop-nav {
    background-color:$background-color-dark;
    box-shadow:0 5px 5px #282828, inset 0 -3px 3px #282828;

    button:not(.theme-button){
        color: #aaa;
        &:hover{
            color:#eee;
        }
    }
}

.theme-button, .github-button{
    svg{
        filter:url(#theme-button-shadow);
    }

    &:hover svg{
        filter:url(#theme-button-shadow-hover);
    }
}

@media screen and (max-width:599px) {
    #desktop-nav{
        visibility: hidden;
        a {
            display: none;
        }
    }
}

/* mobile nav */

@keyframes reveal-mobile-nav-label {
    from { opacity: 0; }
    to { opacity: 1; }
}

label[for='menu-checkbox']{
    z-index: 3;
    display:flex;
    height:20px;
    width:20px;
    padding:15px;
    border-radius: 50%;
    position:fixed;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    bottom: min(80px,10vh);
    right: min(30px,10vw);
    background-color: #e3e3e3;
    animation: reveal-mobile-nav-label 1.5s ease-out;

    $outer: 2px 2px 2px #ccc, -2px -2px 2px #fff;
    box-shadow: $outer, inset -1px -1px 1px #ccc, inset 2px 2px 2px #fff;
    transition: background-color $mode-transition-time, box-shadow $mode-transition-time, bottom $mode-transition-time;

    &.away{
        bottom: 25px;
    }

    &:active {
        box-shadow: $outer, inset -4px -4px 4px #fff, inset 4px 4px 4px #ccc;
    }

    & > div{
        display:block;
        background-color: #999;
        height:3px;
        width:100%;
        border-radius:3px;
        transition: transform 0.3s, background-color $mode-transition-time;
    }
}

.dark label[for='menu-checkbox']{
    background-color: #444;

    $outer: 2px 2px 2px #282828, -2px -2px 2px #555;
    box-shadow: $outer, inset -1px -1px 1px #222, inset 1px 1px 1px #555;

    &:active {
        box-shadow: $outer, inset -2px -2px 2px #555, inset 2px 2px 2px #222;
    }
}

#menu-checkbox:checked ~ label{
    & > div:first-child{
        transform: scaleX(141%) translateY(220%) rotate(55deg);
    }

    & > div:nth-child(2){
        margin: 0 50%;
        width:0;
    }

    & > div:last-child{
        transform: scaleX(141%) translateY(-220%) rotate(-55deg);
    }
}

$sections:home, works, about, contact;

#mobile-nav {
    .menu-backdrop{
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        opacity: 0;
        visibility:hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }
    .menu-container {
        z-index: 2;
        background-color: $background-color;
        height:100%;
        width:min(300px,100%);
        position:fixed;
        top:0;
        right:0;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s, background-color $mode-transition-time;

        button {
            border:none;
            cursor: pointer;
            transition: background-color $mode-transition-time, color $mode-transition-time;

            &:not(.theme-button){
                text-transform: uppercase;
                padding:min(20px,4vh) 0;
                color:$text-color-pale;
                font-size: 1rem;
    
                .letter-space{
                    width: 0.5rem;
                }
            }

            @media (hover:hover) {
                &:hover .letter-space {
                    width: 0.8rem;
                }
            }
        }

        .icon-buttons{
            margin:0 auto;
            display: flex;
            flex-direction: row;
        }

    }

    @each $section in $sections {
        [data-current-section="#{$section}"]{
            .#{$section}{
                font-weight: 700;
                color:$text-color;
            }
        }
    }

    #menu-checkbox:checked + .menu-backdrop{
        opacity: 1;
        visibility: visible;
    }

    #menu-checkbox:checked ~ .menu-container{
        transform: translateX(0%);
    }
}

.dark #mobile-nav {
    .menu-container, button {
        background-color: $background-color-dark;
        color:#999 !important;
    }

    @each $section in $sections {
        [data-current-section="#{$section}"]{
            .#{$section}{
                color:#ccc !important;
            }
        }
    }
}

@media screen and (min-width:600px) {
    #mobile-nav{
        visibility: hidden;
    }
}

$name-font-size: min(100px, 15vw, 30vh);
$name-shadow-displacement-a: min(5px, 0.75vw, 1.5vh);
$name-shadow-displacement-a-negative: max(-5px, -0.75vw, -1.5vh);
$name-shadow-displacement-b: min(8px, 1.2vw, 2.4vh);
$title-font-size: min(20px, 5vw, 8vh);

@keyframes light-to-dark {
    from { fill: $background-color; }
    to { fill: $background-color-dark; }
}

@keyframes dark-to-light {
    from { fill: $background-color-dark; }
    to { fill: $background-color; }
}

#nav-side-button-template {
    position: fixed;
    #github {
        fill: $background-color;
        transition: $mode-transition-time;
    }
    #sun {
        fill: $background-color;
        &:not(.no-anim){
            animation: dark-to-light $mode-transition-time;
        }
    }
}
.dark #nav-side-button-template {
    #github {
        fill: #393939;
    }
    #moon {
        fill: #393939;
        &:not(.no-anim){
            animation: light-to-dark $mode-transition-time;
        }
    }
}

#theme-button-shadow {
    .light {
        flood-color: #fff;
        flood-opacity: 0.6;
    }
    .dark {
        flood-color: #555;
        flood-opacity: 0.8;
    }
    .light,.dark{
        transition: $mode-transition-time;
    }
}

#theme-button-shadow-hover {
    .light {
        flood-color: #fff;
        flood-opacity: 0.8;
    }
    .dark {
        flood-color: #555;
        flood-opacity: 1;
    }
    .light,.dark{
        transition: $mode-transition-time;
    }
}

.dark #theme-button-shadow {
    .light {
        flood-opacity: 0.4;
    }
    .dark{
        flood-opacity: 1;
    }
}

html:not(.dark) #moon, .dark #sun {
    display:none;
}


/*
.section-bg {
    width:50%;
    height:50%;
    position: absolute;

    &:nth-child(1){
        top:0;
        left:0;
    }
    &:nth-child(2){
        top:0;
        right:0;
    }
    &:nth-child(3){
        bottom:0;
        left:0;
    }
    &:nth-child(4){
        bottom:0;
        right:0;
    }
}

#main-page > div {
    position: relative;

    &:nth-child(2n+1) {
        .section-bg:nth-child(4){
            border-bottom-right-radius: 100px;
            box-shadow: 10px 10px 10px #ccc;
        }
    }

    &:nth-child(2n){
        padding:50px 0;
        .section-bg:nth-child(1){
            border-top-left-radius: 100px;
            box-shadow: inset 10px 10px 10px #ccc;
        }
    }
}
*/

$name-shadow: $name-shadow-displacement-a 
    $name-shadow-displacement-a 
    $name-shadow-displacement-b 
    rgba(0,0,0,0.3),
    $name-shadow-displacement-a-negative 
    $name-shadow-displacement-a-negative 
    $name-shadow-displacement-b 
    #fff;
$name-shadow-dark: $name-shadow-displacement-a 
    $name-shadow-displacement-a 
    $name-shadow-displacement-b 
    rgba(0,0,0,0.7),
    $name-shadow-displacement-a-negative 
    $name-shadow-displacement-a-negative 
    $name-shadow-displacement-b 
    rgba(255,255,255,0.2);

@keyframes title-name-reveal {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: $name-shadow;
    }
}

@keyframes title-name-reveal-dark {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: $name-shadow-dark;
    }
}

@keyframes title-show-char {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes title-show-cursor {
    0% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes title-cursor-flash {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
}

#home{
    height: 100vh;
    position: relative;

    & > div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width:100%;
        position: absolute;
        top: 0;
        left: 0;

        @media (hover:none) and (orientation:landscape){
            height: var(--landscape-height);
        }
        @media (hover:none) and (orientation:portrait){
            height: var(--portrait-height);
        }
    }

    h1, p {
        margin:0px;
        text-transform: uppercase;
    }

    h1 {
        color:$background-color;
        font-family: 'Arial Black', 'Verdana-Bold ', 'AvenirNext-Bold', 'Arial-BoldMT', 'Helvetica-Bold', sans-serif;
        font-size: $name-font-size;
        transition: color $mode-transition-time, text-shadow $mode-transition-time;
        text-shadow: $name-shadow;
        animation: title-name-reveal 1.5s;
    }
    p {
        font-weight: 300;
        color: $text-color-pale;
        font-size: $title-font-size;
        margin: 0 5vw;
        transition: color $mode-transition-time;

        span {
            margin: 0 0.1rem;
            opacity: 0;
            animation: title-show-char;
            animation-duration: 10ms;
            animation-fill-mode: forwards;
        }
        hr{
            display: inline;
            opacity: 0;
            border-color: #ddd;
            transition: border-color $mode-transition-time;
            &:not(:last-child){
                animation: title-show-cursor 0.15s forwards;
            }
            &:last-child {
                animation: title-cursor-flash 1s infinite;
            }
            &.space + span::before{
                content:'\A';
                white-space: pre;
            }
        }
        @media screen and (max-width:343px){
            .space {
                display:none;
            }
        }
        @media screen and (min-width:344px){
            .space + span::before{
                display: none;
            }
        }
    }
}

.dark #home {
    h1{
        color: $background-color-dark;
        text-shadow: $name-shadow-dark;
        animation: title-name-reveal-dark 1.5s;
    }
    p{
        color:$text-color-pale-dark;
        hr {
            border-color: $text-color-pale-dark;
        }
    }
}

.work-container {
    border-radius: 12px;
    
    padding: 15px;
    width: min(500px, 80vw);
    margin: 20px auto;
    transition: all $mode-transition-time;

    h3 {
        font-family: Georgia;
        font-weight: 900;
        font-size: min(2.5rem,11vw);
        margin: 1rem 0;
        color: rgba(0,0,0,0.1);
        text-shadow: 0px 1px 1px $background-color, 0 0 0 $text-color-pale;
        transition: all $mode-transition-time;
    }

    $outer: 10px 10px 20px 0 #ccc, -10px -10px 10px 0 #fff;
    $all: $outer, inset 10px 10px 20px 0 #ddd, inset -10px -10px 10px 0 #fff;

    @media (hover:hover){
        box-shadow: $outer;
        &:hover {
            box-shadow: $all;
        }
    }
    @media (hover:none){
        box-shadow: $all;
    }
}

.dark .work-container {
    h3 {
        color: rgba(255,255,255,0.4);
        text-shadow: 1px 1px 1px #000;
    }
    $outer: 10px 10px 20px 0 #222, -10px -10px 10px 0 #444;
    $all: $outer, inset 10px 10px 20px 0 #222, inset -10px -10px 10px 0 #444;
    @media (hover:hover){
        box-shadow: $outer;
        &:hover {
            box-shadow: $all;
        }
    }
    @media (hover:none){
        box-shadow: $all;
    }
}

.slide-cropped-image{
    height:min(300px, max(45vw, 80vh));
    width:100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    margin:0px auto;
    display:block;
    border-radius: 8px;
    position: relative;

    canvas {
        border-radius: 8px;
    }

    button {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        outline: none;
        border: none;
        
        @media (hover:hover){
            opacity: 0;
            &:hover{
                opacity: 1;
            }
        }

        &.prev{
            left: 0px;
            svg{
                margin-left:5px;
                margin-right:auto;
            }
        }
        &.next{
            right: 0px;
            svg{
                margin-right:5px;
                margin-left:auto;
            }
        }

        &:active {
            svg {
                filter:url(#slider-button-glow-onclick)
            }
        }
    }
}

.work-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-link, #contact button {
    $shadow-light:#fff;
    $shadow-dark:rgba(195, 193, 198, 0.9);

    border:none;
    border-radius: 0.5rem;
    height: 2.5rem;
    min-width: 7rem;
    box-shadow: 
        inset 0.1rem 0.1rem 0.2rem $shadow-light, 
        inset -0.1rem -0.1rem 0.2rem $shadow-dark, 
        0.1rem 0.1rem 0.2rem $shadow-dark, 
        -0.1rem -0.1rem 0.2rem $shadow-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;

    font-size: 0.8rem;
    color:$text-color-pale !important;

    transition: color $mode-transition-time, box-shadow $mode-transition-time !important;

    & > div {
        width:fit-content;
        margin:0 auto;
        position: relative;
        text-decoration: none;
    
        &::before{
            content:"";
            position: absolute;
            bottom:0;
            height:1px;
            background-color: #777;
            transform: translateY(1px);
            left:50%;
            width:0%;
            transition: all 0.2s;
        }
    }

    @media (hover: hover){
        &:hover:not(:disabled) {
            & > div::before {
                left:0%;
                width:100%;
            }
        }
    }

    &:active:not(:disabled) {
        box-shadow: inset 0.1rem 0.1rem 0.2rem $shadow-dark, inset -0.1rem -0.1rem 0.2rem $shadow-light;
    }
    &:hover {
        text-decoration: none !important;
    }
}

#contact button:hover{
    cursor:pointer;
}

.dark .work-link, .dark #contact button{
    $shadow-light:#444;
    $shadow-dark:rgba(0,0,0, 0.5);

    color: $text-color-dark !important;
    box-shadow: 
        inset 0.1rem 0.1rem 0.2rem $shadow-light, 
        inset -0.1rem -0.1rem 0.2rem $shadow-dark, 
        0.1rem 0.1rem 0.2rem $shadow-dark, 
        -0.1rem -0.1rem 0.2rem $shadow-light;
    &:active:not(:disabled) {
        box-shadow: inset 0.1rem 0.1rem 0.2rem $shadow-dark, inset -0.1rem -0.1rem 0.2rem $shadow-light;
    }
}

.work-link {
    margin-right:1rem;
    margin-bottom: 1rem;
}

.letter-space {
    display: inline-flex;
    width: 0.15rem;
    transition: width $mode-transition-time;
}

.dark .work-link > div::before, .dark #contact button > div::before {
    background-color: $text-color-dark;
}

.work-content {
    & > :first-child{
        margin-top: 0;
    }
    & > :last-child{
        margin-bottom: 0;
    }
}

#about{
    padding: 15px;
    width: min(500px, 80vw);
    margin:0 auto;
}

#about-me-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -20px;
}

.about-me-skill{
    $size:60px;
    $padding:5px;
    width:$size;
    margin-right:20px;
    margin-bottom: 20px;
    .about-me-skill-logo{
        height:calc($size - $padding * 2);
        padding:$padding;
        transition: box-shadow $mode-transition-time;

        border-radius: 7px;
        $about-me-skill-logo-shadow-offset:5px;
        $about-me-skill-logo-shadow-offset-neg:calc($about-me-skill-logo-shadow-offset * -1);
        $about-me-skill-logo-shadow-size:5px;
        box-shadow: 
            $about-me-skill-logo-shadow-offset 
            $about-me-skill-logo-shadow-offset 
            $about-me-skill-logo-shadow-size 
            #ccc, 
            $about-me-skill-logo-shadow-offset-neg 
            $about-me-skill-logo-shadow-offset-neg 
            $about-me-skill-logo-shadow-size 
            white;
    }
    .about-me-skill-caption{
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.5px;
        margin-top: 5px;
    }

    svg {
        width:100%;
        height:100%;
        path, rect, polygon {
            stroke:#777;
            fill: none;
            $dash-count: 50000;
            stroke-dasharray: $dash-count;
            stroke-dashoffset: $dash-count;
            transition: stroke $mode-transition-time, stroke-dashoffset 1s;
        }

        &.html path {
            stroke-width: 15px;
        }

        &.css path {
            stroke-width: 15px;
        }

        &.javascript path {
            stroke-width: 15px;
        }

        &.typescript {
            transform: scale(0.9);
            .path1{
                stroke-width: 30px;
            }
            .path2{
                stroke-width: 15px;
            }
        }

        &.sass {
            transform: rotateX(180deg);
            [class^='path']{
                stroke-width: 120px;
                transform: scale(0.13) translate(-10px,0);
            }
        }

        &.react .path1 {
            stroke-width: 10px;
        }

        &.nextjs {
            .path1{
                stroke-width: 10px;
            }
        }

        &.redux {
            path {
                stroke-width: 3px;
            }
        }

        &.go {
            [class^='path']{
                stroke-width: 3px;
            }
            .path4,.path5{
                stroke-width: 5px;
            }
        }

        &.gsap .path1 {
            stroke-width: 5px;
        }

        &.threejs {
            path {
                stroke-width: 5px;
            }
        }

        &.webgl {
            path, polygon {
                stroke-width: 20px;
            }
        }

        &.rabbitmq path {
            stroke-width: 2px;
        }

        &.nginx{
            path{
                stroke-width: 2px;
            }
        }

        &.postgresql {
            path{
                stroke-width: 12px;
            }
        }

        &.docker {
            rect, path {
                stroke-width: 10px;
            }
        }

        &.show [class^='path'] {
            stroke-dashoffset: 0;
        }
    }
}

.dark .about-me-skill-logo{
    $about-me-skill-logo-shadow-offset:5px;
    $about-me-skill-logo-shadow-offset-neg:calc($about-me-skill-logo-shadow-offset * -1);
    $about-me-skill-logo-shadow-size:5px;
    box-shadow: 
        $about-me-skill-logo-shadow-offset 
        $about-me-skill-logo-shadow-offset 
        $about-me-skill-logo-shadow-size 
        #222, 
        $about-me-skill-logo-shadow-offset-neg 
        $about-me-skill-logo-shadow-offset-neg 
        $about-me-skill-logo-shadow-size 
        #444;

    path, rect, polygon{
        stroke:#999;
    }
}

#contact {
    padding: 15px;
    width: min(500px, 80vw);
    margin:0 auto;

    input, textarea, .admin-msg {
        width: calc(100% - 1.6rem);
    }

    input, textarea {
        margin-bottom: 15px;
        background-color: #eee;
        font-size: 1rem;
        color:#777;
        font-family: Helvetica, Arial, sans-serif;
        padding: 0.8rem;
        letter-spacing: 0.05rem;
        border-radius: 0.5rem;
        border:none;

        $outer: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
        $all: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff, $outer;
        -webkit-appearance: none;
        -webkit-box-shadow: $outer;
        box-shadow: $outer;

        &:focus-visible{
            outline:none;
        }

        &:focus{
            -webkit-box-shadow: $all;
            box-shadow: $all;
        }
        transition: background-color $mode-transition-time, box-shadow $mode-transition-time;
    }
}

.dark #contact {
    input, textarea {
        background-color: $background-color-dark;
        color: #ccc;

        $outer: 0.3rem 0.3rem 0.5rem #222, -0.2rem -0.2rem 0.4rem #444;
        $all: inset 0.2rem 0.2rem 0.5rem #222, inset -0.2rem -0.2rem 0.5rem #444, $outer;

        -webkit-box-shadow: $outer;
        box-shadow: $outer;

        &:focus-visible{
            outline:none;
        }

        &:focus{
            -webkit-box-shadow: $all;
            box-shadow: $all;
        }
    }

    button {
        background-color: $background-color-dark;
    }
}

#full-screen-about-checkbox-icon {
    cursor: pointer;
    position:fixed;
    top:10vh;
    left:10vw;
}

#full-screen-about-container {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    height:100vh;//calc(var(--vh) * 100);
    background-color: rgba(0,0,0,0.5);

    & > div {
        background-color:#555;
        margin:auto;
        padding:3vh 3vw;
        max-width:min(80vw,500px);
        font-size: 1.1rem;
        position: relative;
    }
}

#full-screen-about-checkbox-backdrop {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#full-screen-about-checkbox:checked ~ #full-screen-about-container {
    display:flex;
}

#full-screen-about-checkbox-close {
    position:fixed;
    top:20px;
    right:20px;
    cursor:pointer;
}

@keyframes reveal{
    0%{transform: translate(0,100%) rotate3d(0, 1, 0, 30deg);}
    100%{transform: translate(0,0) rotate3d(0, 1, 0, 30deg);}
}

@keyframes revealreflection{
    0%{transform: translate(0,-100%) rotate3d(1, 0, -0.27, 180deg);}
    100%{transform: translate(0,0) rotate3d(1, 0, -0.27, 180deg);}
}

#errorpage{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    #link-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    a{
        text-decoration: none;
        width: fit-content;
        opacity: 0.9;
        &:hover{
            opacity: 1;
        }
    }
    h1,h2{
        text-align: center;
        font-family:serif;
        overflow: hidden;
        margin:0;
        line-height:1;
    }
    h1{
        $side-color: #444;
        font-size: 150px;
        color:#666;
        span{
            animation-duration: 1s;
            animation-delay: 0.3s;
            line-height: 110px;
            height:105px;
            text-shadow: 
                -1px 0 1px $side-color,
                -2px 0 1px $side-color,
                -3px 0 1px $side-color,
                -4px 0 1px $side-color,
                -5px 0 1px $side-color,
                -6px 0 1px $side-color,
                -7px 0 1px $side-color,
                -8px 0 1px $side-color,
                -9px 0 1px $side-color;
        }
        &.bottom span{
            opacity: 0.5;
        }
    }
    h2{
        $side-color: #ddd;
        font-size: 50px;
        color:#fff;
        span{
            animation-duration: 0.7s;
            animation-delay: 1.5s;
            line-height: 41px;
            height: 38px;
            text-shadow: 
                -1px -0.5px 1px $side-color,
                -2px -1px 1px $side-color,
                -3px -1.5px 1px $side-color,
                -4px -2px 1px $side-color;
        }
        &.bottom > span{
            opacity: 0.25;
        }
        &:nth-of-type(1){
            margin-top:30px;
        }
    }
    span{
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        display: block;
    }
    .top{
        span{
            transform: translate(0,100%) rotate3d(0, 1, 0, 30deg) ;
            animation-name: reveal;
        }
    }
    .bottom{
        span{
            transform: translate(0,-100%) rotate3d(1, 0, -0.27, 180deg);
            animation-name: revealreflection;
        }
    }

    @media screen and (max-height: 349px){
        .bottom{
            height:0px;
        }
    }
}