.work-container {
    border-radius: 12px;
    
    padding: 15px;
    width: min(500px, 80vw);
    margin: 20px auto;
    transition: all $mode-transition-time;

    @media (hover:hover){
        box-shadow: var(--work-box-shadow-outer);
        &:hover {
            box-shadow: var(--work-box-shadow-all);
        }
    }
    @media (hover:none){
        box-shadow: var(--work-box-shadow-all);
    }

    &:first-of-type{
        margin-top: 0px;
    }
}

.work-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-content {
    & > :first-child{
        margin-top: 0;
    }
    & > :last-child{
        margin-bottom: 0;
    }
}

.canvas-container {
    width:100%;
    height:100%;
}

.stack {
    padding: 0;
    color: var(--work-stack-text-color);
    font-size: 0.95rem;
    transition: color $mode-transition-time;

    li {
        display: inline-block;
        border-radius: 0.4rem;
        padding: 0.5rem;
        background-color: var(--work-stack-bg-color);
        margin: 0 0.8rem 0.5rem 0;
        transition: background-color $mode-transition-time;
    }
}