.label-menu-checkbox{
    z-index: 3;
    display:flex;
    height:20px;
    width:20px;
    padding:15px;
    border-radius: 50%;
    position:fixed;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    bottom: min(80px,10vh);
    right: min(30px,10vw);
    background-color: var(--mobile-nav-button-bg);
    animation: reveal-mobile-nav-label 1.5s ease-out;

    box-shadow: var(--mobile-nav-button-shadow);
    transition: background-color $mode-transition-time, box-shadow $mode-transition-time;

    &:active {
        box-shadow: var(--mobile-nav-button-shadow-active);
    }

    & > div{
        display:block;
        background-color: #999;
        height:3px;
        width:100%;
        border-radius:3px;
        transition: transform 0.3s, background-color $mode-transition-time;
    }
}

.menu-checkbox:checked ~ label{
    & > div:first-child{
        transform: scaleX(141%) translateY(220%) rotate(55deg);
    }

    & > div:nth-child(2){
        margin: 0 50%;
        width:0;
    }

    & > div:last-child{
        transform: scaleX(141%) translateY(-220%) rotate(-55deg);
    }
}

.menu-backdrop{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    visibility:hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.menu-container {
    z-index: 2;
    background-color: var(--background-color);
    height:100%;
    width:min(300px,100%);
    position:fixed;
    top:0;
    right:max(-300px,-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s, background-color $mode-transition-time;

    button {
        border:none;
        cursor: pointer;
        background-color: var(--background-color);
        transition: background-color $mode-transition-time, color $mode-transition-time;

        &:not(.theme-button){
            text-transform: uppercase;
            padding:min(20px,4vh) 0;
            color:var(--mobile-sidebar-text-color);
            font-size: 1rem;

            .letter-space{
                width: 0.5rem;
            }
        }

        @media (hover:hover) {
            &:hover .letter-space {
                width: 0.8rem;
            }
        }
    }
}

.menu-checkbox:checked + .menu-backdrop{
    opacity: 1;
    visibility: visible;
}

.menu-checkbox:checked ~ .menu-container{
    transform: translateX(-100%);
}

.icon-buttons{
    margin:0 auto;
    display: flex;
    flex-direction: row;
}

@include letter-space;

$sections:home, works, about, contact;

@each $section in $sections {
    [data-current-section="#{$section}"]{
        .#{$section}{
            font-weight: 700;
            color:var(--mobile-sidebar-section-match-color) !important;
        }
    }
}

@media screen and (min-width:600px) {
    .mobile-nav{
        visibility: hidden;
    }
}