.waves {
    width:max(100%,500px);
    position: inherit;
    transform: translateY(5px);

    path {
        filter:url(#wave-shadow);
        fill:var(--background-color);
        transition: fill var(--mode-transition-time);
    }
}

.shadow {
    flood-color: var(--waves-shadow-color);
    flood-opacity: 0.3;
    transition: flood-color var(--mode-transition-time);
}