.about-me-container {
    background-color: var(--background-color);
    position: inherit;
    transition: background-color var(--mode-transition-time);
}

.my-github {
    margin-top: 1rem;
    max-width: 10rem;
}

.about-me-content{
    padding: 15px;
    width: min(500px, 80vw);
    margin:0 auto;

    & > p:last-of-type {
        margin-bottom: 2rem;
    }
}

.about-me-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -20px;
}

$size:65px;
$padding:5px;

.about-me-skill{
    width:$size;
    margin-right:20px;
    margin-bottom: 20px;

    svg {
        width:100%;
        height:100%;

        path {
            stroke:var(--about-me-logo-stroke-color);
            fill: none;
            $dash-count: 60;
            stroke-dasharray: $dash-count;
            stroke-dashoffset: $dash-count;
            transition: stroke var(--mode-transition-time), stroke-dashoffset 1s;
        }
    }
}

.about-me-skill-logo{
    height:calc($size - $padding * 2);
    padding:$padding;
    transition: box-shadow var(--mode-transition-time);

    border-radius: 7px;
    $about-me-skill-logo-shadow-offset:5px;
    $about-me-skill-logo-shadow-offset-neg:calc($about-me-skill-logo-shadow-offset * -1);
    $about-me-skill-logo-shadow-size:5px;
    box-shadow: 
        $about-me-skill-logo-shadow-offset 
        $about-me-skill-logo-shadow-offset 
        $about-me-skill-logo-shadow-size 
        var(--about-me-logo-shadow-dark), 
        $about-me-skill-logo-shadow-offset-neg 
        $about-me-skill-logo-shadow-offset-neg 
        $about-me-skill-logo-shadow-size 
        var(--about-me-logo-shadow-light);
}

.about-me-skill-caption{
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-top: 5px;
}

.html path {
    stroke-width: 15px;
}

.css path {
    stroke-width: 15px;
}

.javascript path {
    stroke-width: 15px;
}

.typescript {
    transform: scale(0.9);
    path{
        &:first-child {
            stroke-width: 30px;
        }
        &:last-child {
            stroke-width: 20px;
        }
    }
}

.sass path {
    stroke-width: 7px;
}

.react path {
    stroke-width: 10px;
}

.nextjs path {
    stroke-width: 10px;
}

.nodejs path {
    stroke-width: 15px;
}

.redux path {
    stroke-width: 3px;
}

.go path {
    stroke-width: 6px;
}

.gsap path {
    stroke-width: 5px;
}

.threejs path {
    stroke-width: 5px;
}

.webgl {
    path, polygon {
        stroke-width: 20px;
    }
}

.rabbitmq path {
    stroke-width: 2px;
}

.nginx path{
    stroke-width: 2px;
}

.postgresql path{
    stroke-width: 12px;
}

.docker path {
    stroke-width: 15px;
}

.mui path {
    stroke-width: 1.5px;
}

.webpack path {
    stroke-width: 15px;
}

.tailwindcss path {
    stroke-width: 1.5px;
}

.heroku path {
    stroke-width: 3px;
}

.show path {
    stroke-dashoffset: 0 !important;
}