.main-page {
    background-color: var(--background-color);
    letter-spacing: 0.03rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    transition: background-color $mode-transition-time, color $mode-transition-time;
    color: var(--text-color);
    overflow-x: hidden;
    position: relative;

    a {
        color: var(--text-color);
        font-weight: 400;
        text-decoration: none;
        transition: color $mode-transition-time;
    
        &:hover {
            text-decoration: underline;
        }
    }

    h1, h2{
        font-family: 'Arial Black', 'AvenirNext-Bold', 'Arial-BoldMT', 'Helvetica-Bold', sans-serif;
    }

    h3 {
        font-family: Georgia;
        font-weight: 900;
        font-size: min(2.5rem,11vw);
        margin: 1rem 0;
        color: var(--work-title-text-color);
        text-shadow: var(--work-title-shadow);
        transition: all $mode-transition-time;
    }
}