.main-page {
    background-color: var(--background-color);
    letter-spacing: 0.03rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    transition: background-color $mode-transition-time, color $mode-transition-time;
    color: var(--text-color);

    h1 {
        color: var(--background-color);
    }

    a {
        color: var(--text-color);
        font-weight: 400;
        text-decoration: none;
        transition: color $mode-transition-time;
    
        &:hover {
            text-decoration: underline;
        }
    }
}